page-home {
  ion-content {
    .sms {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fade.in {
      opacity: 1;
    }

    .modal.in .modal-dialog {
      -webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
-o-transform: translate(0, 0);
transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

#mapLoaded {
  width: 100%;
  height: 50%;
}

}
}